<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Crabcakes Admin{% endblock %}</title>
        <link rel="stylesheet" href="/admin/static/css/admin.css">
        {% block extra_styles %}{% endblock %}
    </head>
    <body>
        <nav class="sidebar">
            <div class="logo"><a href="/admin/">🦀<a href="/admin/" class="logo-collapse">Crabcakes</a></div>
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a href="/admin/buckets"
                            class="nav-link {% if page == WebPage::Buckets.as_ref() %}active{% endif
                            %}">
                            Buckets
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/identities"
                            class="nav-link {% if page == WebPage::Identities.as_ref() %}active{% endif %}">
                            Identities
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/policies"
                            class="nav-link {% if page == WebPage::Policies.as_ref() %}active{% endif %}">
                            Policies
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/policy_troubleshooter"
                            class="nav-link {% if page == WebPage::PolicyTroubleshooter.as_ref() %}active{% endif %}">
                            <span class="collapsible">Policy </span>Troubleshooter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/system"
                            class="nav-link {% if page == WebPage::System.as_ref() %}active{% endif
                            %}">
                            System
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/profile"
                            class="nav-link {% if page == WebPage::Profile.as_ref() %}active{% endif
                            %}">
                            Profile
                        </a>
                    </li>
                    <li class="nav-item logout-item">
                        {% include logout_button.html %}
                    </li>
                </ul>
            </nav>
            <main class="main-content">
                <div class="container">
                    {% block content %}{% endblock %}
                </div>
            </main>
            <script src="/admin/static/js/logout.js"></script>
            {% block extra_scripts %}{% endblock %}
        </body>
    </html>
