{% extends "layout.html" %}

{% block title %}Policy Troubleshooter - Crabcakes Admin{% endblock %}

{% block content %}
<h1>Policy Troubleshooter</h1>
<p class="subtitle">Enter your action details to check the policy result.</p>

<div class="horizontal-container">
    <div class="form-group container-column">
        <form id="troubleshooter-form">
            <p><label for="bucket">Bucket Name</label>
                <input type="text" id="bucket" name="bucket" class="form-control" placeholder="Enter bucket name" required value="{{bucket}}"></p>

            <p><label for="key">Object Key</label>
                <input type="text" id="key" name="key" class="form-control" placeholder="Enter object key" required value="{{key}}"></p>

            <p><label for="user">User Name</label>
                <input type="text" id="user" name="user" class="form-control" placeholder="Enter user name" required value="{{user}}"></p>

            <p><label for="action">Action</label>
                <select id="action" name="action" class="form-control" required>
                    {% for act in s3_actions %}
                    <option value="{{act}}" {% if action == *act %} selected {% endif %}>{{act}}</option>
                    {% endfor %}
                </select>
            </p>
            <p><label for="policy">Select Policy</label>
                <select id="policy" name="policy" class="form-control" required>
                    <option value selected>-- Check all --</option>
                    {% for policy in policy_names %}
                    <option value="{{policy}}" {% if &policy_name == policy %} selected {% endif %}>{{policy}}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <button type="submit" name="check_access" class="btn btn-primary">Check Access</button>
            </p>

        </form>
    </div>

    <div class="troubleshooter-results container-column" id="results"></div>
</div>

{% endblock %}

{% block extra_scripts %}
<script src="/admin/static/js/troubleshooter.js"></script>
{% endblock %}
