---
name: Rust Testing
"on":
  push:
    branches:
      - main
  pull_request:

env:
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  cargo_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Install rust stable
        uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: cargo-bins/cargo-binstall@main
        with:
          packages: cargo-tarpaulin

      - name: "Run cargo test with coverage"
        run: |
          cargo install cargo-tarpaulin
          cargo tarpaulin --workspace --all-features --coveralls ${{ secrets.COVERALLS_REPO_TOKEN }}
        if: github.actor != 'dependabot[bot]'
      - name: "Run cargo test without coverage"
        run: |
          cargo test --workspace --all-features
        if: github.actor != 'dependabot[bot]'
      - name: "Build the workspace (release)"
        run: cargo build --workspace --release
      - name: Run sccache stat for check
        shell: bash
        run: ${SCCACHE_PATH} --show-stats
