---
name: Rust Testing
"on":
  push:
    branches:
      - main
  pull_request:
env:
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  cargo_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Install rust stable
        uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: "Run cargo test"
        run: cargo test
      - name: "Build the workspace (release)"
        run: cargo build --workspace --release
      - name: Run sccache stat for check
        shell: bash
        run: ${SCCACHE_PATH} --show-stats
